* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.squares {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ff5736;
}
